<ion-view view-title="Téléphone">
    <ion-content class="padding">
        <div class="list">
            <label class="item item-input">
                <span class="input-label">Platform</span>
                <span class="input-label">{{vm.device.platform}}</span>
            </label>
            <label class="item item-input">
                <span class="input-label">Version</span>
                <span class="input-label">{{vm.device.version}}</span>
            </label>
            <label class="item item-input">
                <span class="input-label">UUID</span>
                <span class="input-label">{{vm.device.uuid}}</span>
            </label>
            <label class="item item-input">
                <span class="input-label">Model</span>
                <span class="input-label">{{vm.device.model}}</span>
            </label>
            <label class="item item-input">
                <span class="input-label">Connection</span>
                <span class="input-label">{{vm.connection.description}}</span>
            </label>
        </div>
    </ion-content>
</ion-view>